.container {
    background-color:rgba(173, 173, 173, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button{
    background-color: azure;
    color: black;
    

}